<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ajb.merchants">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23"
        tools:overrideLibrary="com.davemorrissey.labs.subscaleview" />
    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 检测网络状态 -->
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ、QQ空间所需权限 -->


    <!-- 极光Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" /> -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Required 自定义用来收发消息的相关权限 -->
    <permission
        android:name="com.ajb.merchants.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.ajb.merchants.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".others.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 更新的参数设置 -->
        <!-- 正式产品ID -->
        <meta-data
            android:name="product_app_id"
            android:value="b6d9f85e-a301-47a6-b92d-8e89c70464ef" />
        <!-- 测试产品ID -->
        <!-- <meta-data -->
        <!-- android:name="product_app_id" -->
        <!-- android:value="f6f456a2-e25e-4062-97c3-c7619718d961" /> -->
        <meta-data
            android:name="update_type"
            android:value="official" />
        <meta-data
            android:name="update_url"
            android:value="http://apk.eanpa-gz-manager.com" />
        <!-- 百度发布密匙 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="onAOUmaXYNtDDbv5KRb9LSAg" />
        <!-- Debug 密匙 -->
        <!-- <meta-data -->
        <!-- android:name="com.baidu.lbsapi.API_KEY" -->
        <!-- android:value="vkL43vNcQEX2lapN3E7raBtF" /> -->


        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55964fe967e58eb159000274" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <!-- 激光推送 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="11ca89a3100b3815eda82986" />
        <!-- </>值来自开发者平台取得的AppKey -->


        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.ajb.merchants" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.6" />
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.ajb.merchants" />
            </intent-filter>
        </service>

        <!-- 缴费提醒功能 -->
        <!-- <service android:name="com.ajb.merchants.service.warnService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.ajb.merchants.service.warnService" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.ajb.merchants" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <!-- <receiver android:name="com.ajb.merchants.receiver.JpushCustomReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.REGISTRATION" /> -->
        <!-- &lt;!&ndash; Required  用户注册SDK的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.UNREGISTRATION" /> -->
        <!-- <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> -->
        <!-- &lt;!&ndash; Required  用户接收SDK消息的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> -->
        <!-- &lt;!&ndash; Required  用户接收SDK通知栏信息的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> -->
        <!-- &lt;!&ndash; Required  用户打开自定义通知栏的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> -->
        <!-- &lt;!&ndash; Optional 用户接受Rich Push Javascript 回调函数的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.CONNECTION" /> -->
        <!-- &lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt; -->
        <!-- <category android:name="com.ajb.merchants" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- ShareSDK使用到的Activity -->


        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 分享编辑页 -->
        <activity
            android:name=".activity.HomePageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppThemeTran.NoActionBar" />
        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PayFeedBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PayQuestionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PayQuestionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PaySuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CouponGivingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PopupWindowBannerActivity"
            android:theme="@style/mTransparent_bg" />
        <activity
            android:name=".activity.MerchantDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTran.NoActionBar" />
        <activity
            android:name=".activity.ModifyPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".util.download.DownloadService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ajb.merchants.util.download.DownloadService" />

                <category android:name="com.ajb.merchants" />
            </intent-filter>
        </service>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- alipay sdk end -->
        <receiver
            android:name=".broadcast.BannerBroadCast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ajb.ztb.banner" />
            </intent-filter>
        </receiver>
    </application>

</manifest>